<section >
    <div class="fixed-wrapper">
        <nav class="width navbar h-24 flex justify-between items-center py-4 px-8 z-50 w-full">
            <div class="logo flex justify-center items-center">
                <a id="logo-link" href="/"><img class="logo-img" src="/images/logo.png" alt="Logo"></a>
            </div>
            <ul class="flex gap-8 text-white">
                <li><a href="/admin/uploadCar" id="home-link">Upload Car</a></li>
                <li><a href="/admin/allCollections" id="brands-link">Car Listing</a></li>
                <li><a href="/admin/change-password" id="brands-link">Change Password</a></li>
                <li><a href="/admin/logout" id="brands-link">logout</a></li>
            </ul>
        </nav>
    </div>
</section>

<section class="h-28"></section>