<section class="width buy-process">
    <h1 class="text-4xl font-bold text-white mb-12">How To Buy?</h1>

    <div class="grid grid-cols-4 gap-4 text-center">
        
        <div class="bg-[#FFFFE0] rounded-lg py-4 px-6">
            <div class="flex flex-col justify-center items-center gap-6 mb-4">
                <p class="text-xl text-orange-600 font-bold">&#x2609; Step(&#x2170;)</p>
                <img width="48" height="48" src="https://img.icons8.com/fluency/48/choose.png" alt="choose"/>
                <p class="text-xl font-bold text-black">Choose Your Car</p>
            </div>
            <p class="text-center text-sm">We have compiled recommended information that you want to know to buy your car.</p>
        </div>

        <div class="bg-[#FFFFE0] rounded-lg py-4 px-6">
            <div class="flex flex-col justify-center items-center gap-6 mb-4">
                <p class="text-xl text-orange-600 font-bold">&#x2609; Step(&#x2171;)</p>
                <img width="48" height="48" src="https://img.icons8.com/color/48/new-contact.png" alt="new-contact"/>
                <p class="text-xl font-bold text-black">Contact Seller</p>
            </div>
            <p class="text-center text-sm">After you've selected a car, we arrange viewing to seller location or one of our points.</p>
        </div>

        <div class="bg-[#FFFFE0] rounded-lg py-4 px-6">
            <div class="flex flex-col justify-center items-center gap-6 mb-4">
                <p class="text-xl text-orange-600 font-bold">&#x2609; Step(&#x2172;)</p>
                <img width="48" height="48" src="https://img.icons8.com/plasticine/48/task.png" alt="task"/>
                <p class="text-xl font-bold text-black text-center">Financing & Registration</p>
            </div>
            <p class="text-center text-sm">We deal with the paperwork to avail your financing and registration in 24 hours.</p>
        </div>

        <div class="bg-[#FFFFE0] rounded-lg py-4 px-6">
            <div class="flex flex-col justify-center items-center gap-6 mb-4">
                <p class="text-xl text-orange-600 font-bold">&#x2609; Step(&#x2173;)</p>
                <img width="48" height="48" src="https://img.icons8.com/cotton/48/car-rental--v2.png" alt="car-rental--v2"/>
                <p class="text-xl font-bold text-black">Get Your Car</p>
            </div>
            <p class="text-center text-sm">Embrace the joy of car ownership without any of the hassle!</p>
        </div>

    </div>
</section>

<section class="mt-20 bg-[#545353] py-8 flex justify-center items-center">
    <div class="text-center text-white font-medium">
        <p class="mb-2">© 2024 Lamia Enterprise. All rights reserved</p>
        <p class="text-sm text-[#d4d4d4]">Website designed by Naeem Majumder</p>
    </div>
</section>
