<section >
    <div class="fixed-wrapper">
        <nav class="width navbar h-24 flex justify-between items-center py-4 px-8 z-50 w-full">
            <div class="logo flex justify-center items-center">
                <a id="logo-link" href="/"><img class="logo-img" src="/images/logo.png" alt="Logo"></a>
            </div>
            <ul class="flex gap-8 text-white">
                <li><a href="/" id="home-link">Home</a></li>
                <li><a href="/allBrands" id="brands-link">All Brands</a></li>
                <li><a href="/allCollections" id="collections-link">Car Collections</a></li>
                <li><a href="/contact" id="contact-link">Contact</a></li>
            </ul>
        </nav>
    </div>
</section>

<section class="h-28"></section>